.navbar-light {
    background-color: #3B0556;
    text-align: right;
    display: block;
    text-align: right;
    
    
}

.nav-link {
    color: white !important;
    
}

.imagestyle {
    width: 100px;
    height: 70px;
    margin-top: -5%;
    margin-bottom: -5%;
    margin-left: 20px;
    image-align: left;
    float: left;
}
footer {
    font-style: normal;
    height: 15px;
    bottom: 0%;
    width: 100%;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: #AF9EB5;
    display: block;
    position: absolute;
    font-size: 10px;
}