body {
    background-color:#F5F5F5 ;
    font-family: 'Calibri';
}

.topnav {
    background-color: #3B0556;
    overflow: hidden;
    
}

.topnav a {
    float: left ;
    display: block;
    color: white;
    padding: 20px;
}
.topnav a.active {
    background-color:#E7CEF3 ;
}

.topnav a:hover {
    background-color:#E7CEF3 ;
}

footer {
    text-align: center;
    background-color:  #AF9EB5;
}